body {
  background: #f5f5f5;
  margin-left: calc(100vw - 100%);
}

a {
  text-decoration: none;
}

a:visited {
  color: white;
}

.top-bar {
  max-height: 80px;
}

.project-bar {
  max-height: 50px;
}

.lessonBoard {
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  margin: 0 15px
}


.lessonMap {
  width: 15%;
  flex-grow: 1;
}

.workSpace {
  flex-grow: 3;
  width: 50%;
  padding-left: 15px;
  padding-right: 15px;

}

.resources {
  width: 35%;
  flex-grow: 1;
}

.resourceWindow {
  width: 100%;
  height: 80vh;
  overflow-x: hidden;
}

.login-screen {
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.login-button {
  margin-top: 15px;
}


.top-image {

  width: 75%;
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.middle-image {
  position: absolute;
  z-index: 3;
  top: 25%;
  right: 0;
  width: 75%;
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);

}

.bottom-image {
  position: absolute;
  z-index: 2;
  top: 50%;
  right: 13%;
  width: 75%;
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 64px;
}

.dashboard-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

}

.project-list {
  position: absolute;
  margin: auto;
  bottom: 0;
  width: 85vw;
  height: calc(100% - 130px);
  overflow-y: scroll;
}

.project-header {
  padding: 25px;
  text-align: center;
}

.project-title {
  text-align: center;
  padding: 25px 0;
}

.project-options {
  margin: auto;
  text-align: center;
  padding-top: 15px;
}


.dashboard-button {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 0;
  margin-top: 7px;

}

.add-card {
  position: absolute;
  z-index: 9999;
  top: 0;

}

.my-projects {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.project {
  box-sizing: border-box;
  padding: 0 35px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  display: flex;
  flex-direction: column;
}

.project:hover {
  background: #fafafa;
}

.project-card-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.shared-projects {

}

.lesson-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 200px;
    height: 200px;
    margin: 15px;
    padding: 15px;
  }

.lesson-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.question {
  position: relative;
  width: 100%;
  padding-right: 15px;
}

.completed-check {
  position: absolute;
  top: 25%;
  right: 10%;
  color: green
}

.new-lesson {
  display: flex;
  flex-wrap: wrap;
}

.sharing-dialog {
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.overview-dialog {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.workspace-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 1000px) {
  .dashboard {
    padding-top: 55px;
  }

  .dashboard-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
  }

  .project-list {
    position: absolute;
    margin: auto;
    bottom: 0;
    height: calc(100% - 130px);
    width: 100vw;
    overflow-y: scroll;
  }

  .my-projects {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }


  .project {
    width: 100%;
    box-sizing: border-box;
    padding: 0 10px;
  }


  .project-card-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .new-lesson {
    width: 85%;
  }

  .add-card {
    position: fixed;
    top: initial;
    bottom: 0;
    right: 0;
    margin: 15px;
  }
}

@media screen and (max-width: 900px) {
  .lessonBoard {
    flex-flow: column;
    margin: 0 15px
  }

  .lessonMap {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .workSpace {
    width: 100%;
    padding: 0;
  }

  .completed-check {
    position: absolute;
    color: green;
    top: 50px;
    right: 0;
    left: 0;
    margin: auto;
  }

  .resources {
    width: 100%;
    flex-grow: 1;
  }

  .resources-mobile {
    margin-top: 15px;
  }

}


